@import "~@angular/material/prebuilt-themes/indigo-pink";

$primary: #b11a21;
$secondary: #7acfd6;
$neutral: #f1f0ee;

.title {
    text-align: center;
    margin-bottom: 30px;
}

.flexbox {
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: safe center;
    margin-top: 25px;
    
    .flex-item {
        width: 400px;
        flex-basis: 0;
        margin-right: 10px;
    }
}

.button {
    max-width: 350px;
    min-width: 200px;
    flex: 1 1 auto;
}
